.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        // object fit cover makes video fill entire parent element
        // while still maintaining aspect ratio. parts that don't
        // fit get clipped out
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}